h1 {
    color: #0d8eca;
    padding-left: 15px;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    border-radius: 4px;
    display: block;
    margin: 15px auto;
    margin-top: 20px;
    width: 220px;
  }
  
  .card {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    margin-top: 20px;
    padding: 20px;
  }

  .input-group {
    border-radius: 20px;
    padding-bottom: 15px;
  }
  
  #submit-city,
  #current-location-button {
    border-color: #0d8eca;
    color: #0d8eca;
  }

  #submit-city:hover,
  #current-location-button:hover {
    background-color: #ffffff;
    transition: all 200ms ease-in-out;
  }

#date-update,
#month {
font-size: 12px;
    margin-left: -30px;
    padding-left: 15px;
} 

  .days {
    font-weight: bold;
  }
  
  .weather-temperature {
    position: relative;
    top: -5px;
  }

  .weather-temperature .units {
    margin-right: 20px;
    position: relative;
    top: -35px;
  }

  #temperature {
    color: #0d8eca;
    font-size: 80px;
    font-weight: 600;
  }
  
  #celcius-link,
  #fahrenheit-link {
    border-color: #0d8eca;
    color: #0d8eca;
    top: -30px;
  }
  
  #celcius-link:hover,
  #fahrenheit-link:hover {
    background-color: #ffffff;
    transition: all 200ms ease-in-out;
  }

#weather-description {
  margin-top: 60px;
}

  .humidity,
  .wind,
  .description {
    font-size: 12px;
  }

  .forecast-next-hours {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    text-align: center;
  }