  h1 {
    color: #0d8eca;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    border-radius: 4px;
    display: block;
    margin: 15px auto;
    width: 220px;
  }
  
  .card {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 20px;
  }

  .input-group {
    border-radius: 20px;
    padding-bottom: 15px;
  }
  
  #search-city {
    background-color: #fff1eb;
}

  #submit-city,
  #current-location-button {
    border-color: #0d8eca;
    color: #0d8eca;
  }

  #submit-city:hover,
  #current-location-button:hover {
    background-color: #fff1eb;
    transition: all 200ms ease-in-out;
  }

  #date-update,
  #month-year {
    font-size: 12px;
    margin-left: -30px;
} 
  
  .weather-temperature {
    position: relative;
    top: -20px;
  }

  .weather-temperature .units {
    margin-right: 20px;
    position: relative;
    top: -34px;
  }

  #temperature {
    color: #0d8eca;
    font-size: 80px;
    font-weight: 600;
  }
  
  #celsius-link,
  #fahrenheit-link {
    border-color: #0d8eca;
    color: #0d8eca;
    top: -36px;
  }
  
  #celsius-link:hover,
  #fahrenheit-link:hover {
    background-color: #fff1eb;
    transition: all 200ms ease-in-out;
  }

  #celsius-link:active,
  #fahrenheit-link:active {
    background-color: #fff1eb;
    color: #0d8eca;
  }

#weather-description {
  margin-top: 65px;
}

.second-row {
  margin-top: -10px;
}

.forecast-days {
  font-size: 14px;
}

  .humidity,
  .wind,
  .description {
    font-size: 12px;
  }

  .forecast-next-hours {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    text-align: center;
  }